/*
App reset by Ben Frain @benfrain / benfrain.com
Slightly modified by Bharani @bharani91 / github.com/bharani91
*/
/*Hat tip to @thierrykoblentz for this approach: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
  border-color: black;
}

* {
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

input[type],
[contenteditable] {
  user-select: text;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

/*IMPORTANT: This removes the focus outline for most browsers. Be aware this is a backwards accessibilty step! Mozilla (i.e. Firefox) also adds a dotted outline around a tags and buttons when they receive tab focus which I haven't found an unhacky way of removing.*/
a:focus,
button:focus {
  outline: 0;
}

button {
  appearance: none;
  background-color: transparent;
  border: 0;
  padding: 0;
}

input,
fieldset {
  appearance: none;
  border: 0;
  padding: 0;
  margin: 0;
  min-width: 0;
  font-size: 1rem;
  font-family: inherit;
}

/*This switches the default outline off when an input receives focus (really important for users tabbing through with a keyboard) so ensure you put something decent in for your input focus instead!!*/
input:focus {
  outline: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*Removes the default focusring that Mozilla places on select items. From: http://stackoverflow.com/a/18853002/1147859
Ensure you set `#000` to the colour you want your text to appear */
select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

html, body {
  box-sizing: border-box;
}

html:before, html:after, body:before, body:after {
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #111111;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.10em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .85em;
}

nav {
  margin: 1em 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: .25em;
}

a {
  text-decoration: none;
  color: #4990E2;
}

a:hover, a:focus {
  color: #2e7fde;
}

ul, ol {
  margin-top: 0;
  padding-top: 0;
  padding-left: 2.5em;
}

p {
  margin: 1em 0;
  hyphens: auto;
}

p.lead {
  font-size: 1.2em;
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

p + ul, p + ol {
  margin-top: -.75em;
}

dd {
  margin-bottom: 1em;
  margin-left: 0;
  padding-left: 2.5em;
}

dt {
  font-weight: 700;
}

blockquote {
  margin: 0;
  padding-left: 2.5em;
}

body, html {
  padding: 0;
  margin: 0;
  width: 200px;
  height: 200px;
  background-color: black;*/
}

#app {
  padding: 20px 20px;
  background: #ffffff;
}

#title {
  cursor: pointer;
  color: red;
}
#onOff{
  position: relative;
  width: 75px;
  height: 35px;
  left: 60%;
  top: 5px;
}
#on{
  font-weight: bold;
}
.OnOff_class{
  position: relative;
  right
  float: left;

  font-size: 25px;
  font-weight: normal;
  color: white;
}
#movies{
  position: relative;
  top: 25px;
  left: 5px;
}
.movies_class{
  position: relative;
  margin-bottom: 15px;

  font-size: 20px;
  font-weight: normal;
  color: white;
}
